
/* INTESTAZIONE */
header{
    background: #5a8ce9;
    background-image: url(./img/pattern.png);
    margin-left: -8px;
    background-size: 33%; 
}

.logo{
    background-size: 20%;
    background-repeat:repeat;
    width: 200px;
    height: 100px;
}

/* L'ARTICOLO */

.titolo{
    margin-top: 2px;
    margin-bottom: 2px;
}

.info{
    color: grey;
    margin-bottom: 7spx;
}
.boolean{
    color: lightseagreen;
}
.Tim{ 
    max-width: 100%;
    height: auto;
}

.didascalia{
    font-size: 2px;
}

/* TABELLA */
.tabella{ 
    background-color: rgba(32, 169, 229, 1);
}
.riga{
background-color: rgba(177, 229, 242, 1);
}
table{
    text-align: centers;
}


.immagine1{
    background-image: url(./img/monitor.jpg);
    padding: 5%;
    width: 194px;
    text-align: start;
    color: white;
}

.immagine2{
    background-image: url(./img/graph.jpg);
    padding: 5%;
    width: 194px;
    text-align: start;
    color: white;
}

.evidenziato{
    background-color: yellow;
}