header{
    background: #5a8ce9;
    background-image: url(./img/pattern.png);
    margin-left: -8px;
    background-size: 33%; 
}

.logo{
    background-size: 20%;
    background-repeat:repeat;
    width: 200px;
    height: 100px;
}

.Tim{ 
    max-width: 100%;
    height: auto;
}


#boolean{
    color: lightseagreen;
}